<div id="addDialog" class='dialog'>
  <h3>Add Wallet Address</h3>

  <button type="button" id="btc-type-button">Bitcoin</button>
  <button type="button" id="eth-type-button">Ethereum</button>
  <button type="button" id="ltc-type-button">Litecoin</button>

  <div class="addDialog">
    Address:<br>
    <input type="text" id="wallet-address" placeholder="0x2b38F603fcCF5199970122261359911f30d8aa97"><br>
    <p>
      <a href="#" id="add-wallet-button">Add Wallet</a>
    </p>
  </div>
</div>
