<div class = "portfolio">
    <div class="portfolio-header">Your Portfolio</div>
    <% include portfolioItem %>
    <div class="add">Add</div>
    <div class="section-footer">Total Balance = $1</div>
</div>
