<div class = "portfolio">
    <div class = "Group-Header-portfolioItem">
        <div class="portfolio-header">
            <p> Your Portfolio </p>
            <button type="submit" value="submit"> Add </button>
        </div>
    <% include portfolioItem %>
    <p>
      <a href="#" id="addDialog-button">
        Add Coins
      </a>
    </p>
    <div class="section-footer portfolio-total-balance">Total Balance = $1</div>
</div>
