<div class="item">
    <div class="CryptoCurrencyType">Bitcoin</div>
    <div class="Percent-of-Portfolio">59</div>
    <div class="CryptoCurrencyVal">0.09</div>
    <div class="USD">760</div>
</div>
