
<% wallets.forEach(function(wallet){ %>
    <div class="portfolio-item">
        <div class="CryptoCurrencyType"><% wallet.currencyName %></div>
        <div class="Percent-of-Portfolio">59%</div>
        <div class="CryptoCurrencyVal">0.09 BTC</div>
        <div class="USD">USD$760</div>
    </div>    
<% }) %>
