<div class = "portfolio">
    <div class = "Group-Header-portfolioItem">
        <div class="portfolio-header">
            <p> Your Portfolio </p>
            <button type="submit" value="submit"> Add </button>
        </div>
    <% include portfolioItem %>
</div>
    <div class="section-footer">Total Balance = $1</div>
</div>
