<div class = "portfolio">
  <div class = "Group-Header-portfolioItem">
    <div class="portfolio-header">
      <h2>Your Portfolio</h2>
      <button type="submit" value="submit">Add</button>
    </div>
    <% include portfolioItem %>
  </div>
  <p>
    <a href="#" id="addDialog-button">
      Add Coins
    </a>
  </p>
  <div class="section-footer portfolio-total-balance">
    Total Balance = $1
  </div>
</div>
