html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  display: inline-block;
}

body {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #F4F7FA;

  margin: 0px;

  display: flex;
  flex-direction: column;
}

h1{
  padding: none;
  margin: none;
}

a{
  color: white;
  text-decoration: none;
}

