<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
  <link rel="stylesheet" href="style/dashboard.css">
  <link rel="stylesheet" href="style/portfolio.css">
  <link rel="stylesheet" href="style/transaction.css">
</head>

<body>
  <main role="main"></main>
  <div class="header">
    <h1>Blockstack</h1>
    <div class="logout">
      <p>
        <a href="#">
          Logout
        </a>
      </p>
    </div>
  </div>
  <div class="sub-header">
    <p> Dashboard </p>
  </div>

  <div class="components">
    <!-- Graph goes here -->
    <% include partials/chart %>

    <div class='portfolio-transaction-container'>
      <!-- Your Portfolio -->
      <% include partials/portfolio %>

      <% include partials/addDialog %>

      <!-- Recent Activity -->
      <% include partials/transaction %>
    </div>
  </div>
  <script src="dashboard.js"></script>
</body>
</html>
