<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
  <link rel="stylesheet" href="style/dashboard.css">
  <link rel="stylesheet" href="style/portfolio.css">
</head>

<body>
  <main role="main"></main>
  <div>
    <div>
      <h1>Dashboard</h1>
    </div>
    <div>
      <p>
        <a href="#">
          Logout
        </a>
      </p>
    </div>

    <!-- Graph goes here -->

    <!-- Your Portfolio -->
    <% include partials/portfolio %>
    <!-- Recent Activity -->
    <% include partials/transaction %>
  </div>
  <script src="dashboard.js"></script>
</body>
</html>
