<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
</head>

<body>
  <main role="main"></main>
  <div class="login">
    <div class="logo">
      <img src "style/logo.png"> 
    </div>
    <div class="login-section">
      <div>
        <h1>Coindex</h1>
        <div>
            <h1>Hello, <span>User</span>!</h1>
          </div>
        <p>
          <a href="#" id="signin-button">
            Sign In with Blockstack
          </a>
        </p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>
