<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <title>Coindex</title>
  <link rel="stylesheet" href="style/app.css">
</head>

<body>
  <main role="main"></main>
  <div>
    <div>
      <div>
        <h1>Coindex</h1>
        <p>
          <a href="#" id="signin-button">
            Sign In with Blockstack
          </a>
        </p>
      </div>
      <div>
        <h1>Hello, <span>Anonymous</span>!</h1>
        <p>
          <a href="#">
            Logout
          </a>
        </p>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
